<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
   xmlns:tools="http://schemas.android.com/tools"
   package="com.noah.timely">

   <supports-screens
      android:anyDensity="true"
      android:largeScreens="true"
      android:normalScreens="true"
      android:smallScreens="false"
      android:xlargeScreens="true" />

   <!-- Permisions -->

   <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

   <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

   <uses-permission android:name="android.permission.INTERNET" />

   <uses-permission
      android:name="android.permission.WRITE_EXTERNAL_STORAGE"
      android:maxSdkVersion="29"
      tools:ignore="ScopedStorage" />

   <uses-permission
      android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
      tools:ignore="ScopedStorage" />

   <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
   <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
   <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
   <uses-permission android:name="android.permission.VIBRATE" />

   <!-- Queries:  Android 11 and above -->

   <queries>
      <package android:name="com.whatsapp" />
      <package android:name="com.whatsapp.w4b" />
      <package android:name="com.gbwhatsapp" />
   </queries>

   <application
      android:name=".main.App"
      android:allowBackup="true"
      android:configChanges="orientation|keyboardHidden"
      android:fullBackupContent="true"
      android:icon="@mipmap/timely_app_icon"
      android:label="@string/app_name"
      android:requestLegacyExternalStorage="true"
      android:roundIcon="@mipmap/timely_app_icon_round"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme"
      android:windowSoftInputMode="adjustPan">

      <!-- Providers -->

      <!-- Android Nougat security upgrade; file uris throws FileUriExposedException -->

      <provider
         android:name="androidx.core.content.FileProvider"
         android:authorities="${applicationId}.provider"
         android:exported="false"
         android:grantUriPermissions="true">
         <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
      </provider>

      <!-- Services -->

      <service
         android:name=".alarms.AlarmNotificationService"
         android:enabled="true"
         android:exported="false" />

      <service
         android:name=".alarms.AlarmReSchedulerService"
         android:enabled="true"
         android:exported="false" />

      <service
         android:name=".assignment.AssignmentCheckerService"
         android:enabled="true"
         android:exported="false" />

      <!-- Activities -->

      <activity
         android:name=".main.MainActivity"
         android:exported="true"
         android:launchMode="singleTask"
         android:theme="@style/Theme.SplashScreenTheme">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>

      <!-- UCrop library's activity -->
      <activity
         android:name="com.yalantis.ucrop.UCropActivity"
         android:theme="@style/SlidingActivityTheme_No_Fade" />

      <activity
         android:name=".settings.SettingsActivity"
         android:theme="@style/SlidingActivityTheme_No_Fade" />

      <activity
         android:name=".alarms.AlarmActivity"
         android:excludeFromRecents="true" />

      <activity
         android:name=".gallery.ImageDirectory"
         android:theme="@style/SlidingActivityTheme_No_Fade" />

      <activity
         android:name=".gallery.ImageGallery"
         android:theme="@style/SlidingActivityTheme_No_Fade" />

      <activity
         android:name=".gallery.FullScreenImageActivity"
         android:theme="@style/AppTheme.Immersive" />

      <activity
         android:name=".assignment.AddAssignmentActivity"
         android:launchMode="singleTask"
         android:theme="@style/AppTheme.SlideVertical_recipient"
         android:windowSoftInputMode="adjustResize" />

      <activity
         android:name=".assignment.ImageViewerActivity"
         android:launchMode="singleTask" />

      <activity
         android:name=".gallery.ImageSlideActivity"
         android:theme="@style/SlidingActivityTheme" />
      <activity android:name=".gallery.StorageViewer" />

      <activity
         android:name=".main.IntroPageActivity"
         android:exported="true"
         android:launchMode="singleTask"
         android:theme="@style/AppTheme.FadeIn" />

      <activity
         android:name=".courses.AddCourseActivity"
         android:launchMode="singleTask"
         android:theme="@style/AppTheme.SlideVertical_recipient"
         android:windowSoftInputMode="adjustResize" />

      <activity
         android:name=".exam.AddExamActivity"
         android:launchMode="singleTask"
         android:theme="@style/AppTheme.SlideVertical_recipient"
         android:windowSoftInputMode="adjustResize" />

      <activity
         android:name=".timetable.AddTimetableActivity"
         android:launchMode="singleTask"
         android:theme="@style/AppTheme.SlideVertical_recipient"
         android:windowSoftInputMode="adjustResize" />

      <activity
         android:name=".scheduled.AddScheduledActivity"
         android:launchMode="singleTask"
         android:theme="@style/AppTheme.SlideVertical_recipient"
         android:windowSoftInputMode="adjustResize" />

      <activity
         android:name=".auth.ui.login.LoginActivity"
         android:launchMode="singleTask"
         android:theme="@style/SlidingActivityTheme_No_Fade"
         android:windowSoftInputMode="adjustPan" />

      <activity
         android:name=".auth.ui.login.CompleteRegistrationActivity"
         android:launchMode="singleTask"
         android:theme="@style/SlidingActivityTheme_No_Fade"
         android:windowSoftInputMode="adjustPan" />

      <activity
         android:name=".auth.ui.login.GoogleLoginCompletionActivity"
         android:theme="@style/SlidingActivityTheme_No_Fade"
         android:windowSoftInputMode="adjustPan" />

      <!--     Deep-link RecoveryActivity's intent filter to web link    -->

      <activity
         android:name=".auth.ui.login.RecoveryActivity"
         android:exported="true"
         android:theme="@style/SlidingActivityTheme_No_Fade"
         android:windowSoftInputMode="adjustPan">

         <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
               android:host="www.timely.org"
               android:mimeType="*/*"
               android:pathPrefix="/recover"
               android:scheme="http" />

         </intent-filter>

      </activity>

      <activity
         android:name=".auth.ui.login.RegistrationActivity"
         android:theme="@style/SlidingActivityTheme_No_Fade"
         android:windowSoftInputMode="adjustPan" />

      <activity
         android:name=".auth.ui.login.VerificationActivity"
         android:theme="@style/SlidingActivityTheme_No_Fade"
         android:windowSoftInputMode="adjustPan" />

      <activity
         android:name=".todo.AddTodoActivity"
         android:theme="@style/AppTheme.SlideVertical_recipient"
         android:windowSoftInputMode="adjustResize" />

      <activity
         android:name=".about.TimelyBasicInfoActivity"
         android:theme="@style/SlidingActivityTheme_No_Fade" />

      <activity
         android:name=".about.BasicInfoListActivity"
         android:exported="false"
         android:theme="@style/SlidingActivityTheme_No_Fade" />

      <activity
         android:name=".about.ContactActivity"
         android:theme="@style/SlidingActivityTheme_No_Fade"
         android:windowSoftInputMode="adjustResize" />

      <activity
         android:name=".exports.ImportResultsActivity"
         android:exported="true"
         android:priority="1"
         android:theme="@style/SlidingActivityTheme_No_Fade">

         <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="file" />
            <data android:scheme="content" />
            <data android:host="*" />
            <data android:pathPattern=".*\\.tmly" />
            <data android:mimeType="*/*" />

         </intent-filter>

         <!-- Work-around so that TimeLY is able to import data from Whatsapp and MIUI File manager -->

         <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data android:mimeType="text/plain" />
            <data android:mimeType="application/vnd.oasis.opendocument.text" />

            <data
               android:mimeType="application/pdf"
               android:scheme="file" />

            <data
               android:mimeType="application/pdf"
               android:scheme="content" />

         </intent-filter>

         <intent-filter>

            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.OPENABLE" />
            <category android:name="android.intent.category.BROWSABLE" />
            <category android:name="android.intent.category.DEFAULT" />

            <data
               android:mimeType="application/octet-stream"
               android:scheme="content" />

         </intent-filter>

      </activity>

      <!-- Receivers -->

      <receiver
         android:name=".alarms.AlarmReScheduler"
         android:exported="true">
         <intent-filter>
            <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            <action android:name="android.intent.action.PACKAGE_REPLACED" />
            <!-- For HTC devices -->
            <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
         </intent-filter>
      </receiver>

      <receiver
         android:name=".assignment.AssignmentSchedulerChecker"
         android:exported="true">
         <intent-filter>
            <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            <!-- For HTC devices -->
            <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
         </intent-filter>
      </receiver>

      <receiver
         android:name=".alarms.TimeChangeReceiver"
         android:exported="true">
         <intent-filter>
            <action android:name="android.intent.action.TIME_SET" />
            <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            <action android:name="android.intent.action.DATE_CHANGED" />
         </intent-filter>
      </receiver>

      <receiver
         android:name=".alarms.AlarmStateChangeReceiver"
         android:exported="true">
         <intent-filter>
            <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
         </intent-filter>
      </receiver>

      <receiver android:name=".timetable.TimetableNotifier" />
      <receiver android:name=".alarms.AlarmReceiver" />
      <receiver android:name=".alarms.NotificationActionReceiver" />
      <receiver android:name=".assignment.Reminder" />
      <receiver android:name=".assignment.SubmissionNotifier" />
      <receiver android:name=".scheduled.ScheduledTaskNotifier" />

   </application>

</manifest>